* {
  background-color: black;
  color: white;
}

.App {
  width: 90vw;
  margin: auto;
  
  max-height: 90vh;
  text-align: center;
}

.hills {
  height: 50vh;
  margin: auto;

  display: grid;
  justify-content: center;

  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;

  grid-template-areas: 
    "hill hill hill"
    "hill hill hill"
    "hill hill hill";
}

.moleContainer {
  border: 1px solid black;
  padding: 0.5em;

  margin: auto;

  grid-area: "hill";
}

.mole {
  width: 100%;
  margin: auto;
}